@page
@model DBproject.Pages.LoginModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout2";
}

<main class="login-body" data-vide-bg="~/assets/img/hero/h1_hero.png">
    <!-- Login Admin -->
    <form class="form-default" method="post">
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a asp-page="/Index"><img src="~/assets/img/logo/logo.png" alt=""></a>
            </div>
            <h2>تسجيل </h2>
            <div class="form-input">
                <label for="ID">الرقم التعريفيى </label>
                <input type="text" id="ID" name="ID" placeholder="ID" asp-for="ID">
            </div>
            <div class="form-input">
                <label for="Password">الرقم السرى</label>
                <input type="password" id="Password" name="Password" placeholder="Password" asp-for="Password">
            </div>
            <div class="form-input">
                <label for="Role">نوع الحساب</label><br>
                <select id="Role" name="Role" asp-for="Role">
                    <option value="student1"> طالب سنه اولى</option>
                    <option value="student2">طالب سنه تانيه</option>
                    <option value="student3">طالب سنه تالته</option>
                    <option value="assistant">مساعد</option>
                    <option value="parents">ولى امر</option>
                    <option value="teacher">مدرس</option>
                </select>
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="login">
            </div>

            <!-- Forget Password -->
            <a href="#" class="forget">نسيت الباسورد</a>
            <!-- Forget Password -->
            <a asp-page="/Register" class="registration">انشاء حساب</a>
        </div>
    </form>
    <!-- /end login form -->
</main>

